@charset "UTF-8";
:root {
  --main-black-color: #212121;
  --secondary-text-color: #757575;
  --hero-footer-bg-color: #2f303a;
  --extra-blue-color: #2196f3;
  --main-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --icon-bg-color: #afb1b8;
  --icon-bgc-footer: rgba(255, 255, 255, 0.1);
  --attachment-bg-color: rgba(47, 48, 58, 0.8);
  --card-set-gap: 15px;
  --card-bg-color: rgba(33, 150, 243, 0.9);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* визуально скрытые заголовки секций */
.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
p {
  margin: 0px;
  padding: 0px;
}

/* стили для index.html */
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Убираем маркеры в списках по умолчанию */
li {
  list-style-type: none;
}

/* Убираем подчеркивание в ссылках по умолчанию */
a {
  text-decoration: none;
}

/* Убираем курсив по умолчанию */
address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Стили логотипа */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.logo__main {
  color: var(--extra-blue-color);
}

/* Стили навигации */
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--extra-blue-color);
}

.active {
  color: var(--extra-blue-color);
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--extra-blue-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

a {
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}

.header-address {
  margin-left: auto;
  align-items: center;
}

.header-address__link {
  display: block;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address__icon {
  margin-right: 10px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
  }
  .header-address__link:hover, .header-address__link:focus {
    color: var(--extra-blue-color);
  }
  .header-address__link:hover .header-address__icon,
  .header-address__link:hover .header-address__icon, .header-address__link:focus .header-address__icon,
  .header-address__link:focus .header-address__icon {
    fill: var(--extra-blue-color);
    cursor: pointer;
  }
  .header-address__item {
    min-width: 135px;
    min-height: 16px;
    justify-content: center;
    align-content: center;
  }
  .header-address__item + .header-address__item {
    margin-left: 50px;
  }
}

/* Иконки соц-сетей */
.team-network {
  display: flex;
  margin: 0 auto;
  padding: 0 32px 30px;
  justify-content: center;
}

.team-network__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-network__item:hover, .team-network__item:focus {
  background-color: var(--extra-blue-color);
}

.team-network__item-list:not(:last-child) {
  margin-right: 10px;
}

.team-network__item-icon {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-network__item:hover .team-network__item-icon,
.team-network__item:focus .team-network__item-icon {
  fill: var(--main-white-color);
}

/* соц-сети футера */
.footer-list {
  display: block;
  list-style: none;
}

.footer-list__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-network {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 60px;
}

.footer-network__list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-network__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--icon-bgc-footer);
}

.footer-network__icon {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-white-color);
}

@media screen and (min-width: 1200px) {
  .footer-list {
    margin-left: 70px;
  }
  .footer-network {
    display: flex;
    margin-bottom: unset;
  }
  .footer-network__item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-network__item:hover, .footer-network__item:focus {
    background-color: var(--extra-blue-color);
  }
}

/* Форма футера */
.footer-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form__title {
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__title {
    display: flex;
    justify-content: baseline;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: var(--hero-footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__position {
    display: flex;
  }
  .footer-form__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    outline: none;
    margin-bottom: 0px;
  }
}

.footer-form__button {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  color: var(--main-white-color);
  background-color: var(--extra-blue-color);
  border: transparent;
  border-radius: 1px solid var(--extra-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.footer-form__button::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/svg-images/icon-send.svg);
  position: absolute;
  top: 13px;
  right: 28px;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    display: block;
    cursor: pointer;
  }
}

/* модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 609px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 11px;
  height: 11px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal:hover, .close-modal:focus {
  color: var(--extra-blue-color);
}

.modal-form-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-head {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  outline: none;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--extra-blue-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--extra-blue-color);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text:focus {
  outline: none;
  border-color: var(--extra-blue-color);
}

.modal-form-field {
  position: relative;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-field-icon {
  position: relative;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  bottom: 20px;
}

.form-check-policy {
  font-size: 12px;
  line-height: 1.71px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.form-check-policy::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
}

.modal-form-check:checked + .form-check-policy::before {
  background-image: url(../images/svg-images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--extra-blue-color);
  border-color: var(--extra-blue-color);
}

.form-check-policy a {
  color: var(--extra-blue-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.form-button {
  align-self: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  background-color: var(--extra-blue-color);
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}

/* бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* Шапка страницы */
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--main-white-color);
  border: 1px solid var(--border-color);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__header-color {
  color: var(--main-black-color);
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: #212121;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  transform: translateX(100%);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.close-btn__icon {
  width: 40px;
  height: 40px;
  fill: #212121;
}

.close-btn__icon:hover, .close-btn__icon:focus {
  color: var(--extra-blue-color);
}

.mobile-menu__container {
  position: relative;
  min-height: 200px;
  padding: 48px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-nav__item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-nav__link {
  color: var(--main-black-color);
}

.mobole-nav__active {
  color: var(--extra-blue-color);
}

.mobile-address__numb {
  padding-bottom: 32px;
}

.mobile-address__numb-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--extra-blue-color);
}

.mobile-address__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-network {
  display: flex;
}

.mobile-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-network__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

/* Основные стили контента страницы */
.hero {
  background-color: var(--hero-footer-bg-color);
  text-align: center;
}

.hero__content {
  padding: 118px 0px;
  text-align: center;
}

.hero__text {
  color: var(--main-white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--extra-blue-color);
  color: var(--main-white-color);
  cursor: pointer;
}

.overlay {
  min-height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), (min-resolution: 192dpi) and (min-width: 320px), (min-resolution: 2dppx) and (min-width: 320px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-main.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 200px 0;
  }
  .hero__text {
    font-size: 44px;
    line-height: 1.4;
  }
  .overlay {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-main.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-main@2x.jpg);
  }
}

/* Стили для секции преимуществ компании */
.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.advantage {
  background-size: contain;
}

.advantages {
  display: block;
}

.advantages .atention::before {
  background-image: url(../images/svg-images/antenna.svg);
}

.advantages .punctuality::before {
  background-image: url(../images/svg-images/clock.svg);
}

.advantages .planing::before {
  background-image: url(../images/svg-images/diagram.svg);
}

.advantages .technologies::before {
  background-image: url(../images/svg-images/astronaut.svg);
}

.advantage::before {
  height: 120px;
  background-color: var(--secondary-bg-color);
  content: "";
  display: block;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantage {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .advantages__text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding: 94px 15px;
  }
  .advantages {
    display: flex;
    justify-content: space-between;
  }
  .advantages__text {
    width: 270px;
  }
  .advantage::before {
    background-size: 30%;
  }
}

/* Стили для секции услуг компании */
@media screen and (max-width: 1199px) {
  .company-services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .company-services {
    padding-bottom: 94px;
  }
  .company-services__head {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  .company-competence {
    display: flex;
    justify-content: space-between;
  }
  .company-competence__tumb {
    position: relative;
  }
  .company-competence__attachment {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 27px;
    margin: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: var(--main-white-color);
    text-transform: uppercase;
    background-color: var(--attachment-bg-color);
  }
}

/* Стили секции команда */
.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.team-section__head {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

.team-cards {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  background-position: center;
}

.team-cards__list-item {
  padding: 0px;
  background-color: var(--main-white-color);
  border: var(--border-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
}

.team-cards__card {
  padding-top: 30px;
}

.team-cards__title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.team-cards__text {
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-cards__list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-section__head {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .team-cards__list-item {
    flex-basis: calc(100% - var(--card-set-gap))/4;
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    padding: 0px;
    background-color: var(--main-white-color);
    border: var(--border-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow);
  }
}

/* Стили секции Наши клиенты */
.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-section__title {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.clients-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.clients-section-list__client {
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-bg-color);
  border-radius: 4px;
  margin-left: 15px;
  margin-top: 15px;
  flex-basis: calc((100% - 30px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--icon-bg-color);
}

.clients-section-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-bg-color);
}

.clients-section-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section-list__client:hover .clients-section-list__icon,
.clients-section-list__clientt:focus .clients-section-list__icon {
  fill: var(--extra-blue-color);
}

.clients-section-list__client:hover, .clients-section-list__client:focus {
  border: 1px solid var(--extra-blue-color);
}

@media screen and (min-width: 768px) {
  .clients-section__title {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .clients-section-list__client {
    width: 226px;
    height: 92px;
    border: 1px solid var(--icon-bg-color);
    border-radius: 4px;
    flex-basis: calc((100% - 60px) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding: 94px 15px;
    display: block;
  }
  .clients-section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .clients-section-list {
    flex-wrap: nowrap;
  }
  .clients-section-list__client {
    width: 170px;
    height: 92px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-section-list__client:not(:last-child) {
    margin-right: 30px;
  }
}

/* Стили футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-color);
}

.footer__section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.logo__footer-color {
  color: var(--main-white-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-white-color);
  margin-bottom: 8px;
}

.footer__address-section {
  margin-bottom: 60px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 60px;
  color: var(--footer-link-color);
}

@media screen and (min-width: 768px) {
  .footer__section {
    flex-direction: unset;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__link {
    font-size: 14px;
    color: var(--footer-link-color);
  }
  .footer__link:hover, .footer__link:focus {
    color: var(--extra-blue-color);
  }
}

@media screen and (max-width: 767px) {
  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    padding-top: 60px;
  }
  .buttons-list__item {
    margin-top: 15px;
  }
}

.buttons-list__item {
  margin-right: 8px;
}

.buttons-list__item:last-child {
  margin-right: 0px;
}

.buttons-list__element {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--secondary-bg-color);
  color: var(--main-black-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .buttons-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
  }
  .buttons-list__element:hover, .buttons-list__element:focus {
    background-color: var(--extra-blue-color);
    color: var(--main-white-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.01);
  }
}

/* карточки продуктов */
@media screen and (max-width: 767px) {
  .product-section__item:not(:last-child) {
    padding-bottom: 30px;
  }
  .product-section__item:last-child {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .product-section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .product-section__item {
    flex-basis: calc(100% - var(--card-set-gap))/2;
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    padding: 0px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .product-section__item:hover, .product-section__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .product-section {
    padding-bottom: 94px;
  }
  .product-section__item {
    flex-basis: calc(100% - var(--card-set-gap))/3;
  }
}

.name-product {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-black-color);
}

.type-product {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px 24px;
  border-top: 1px solid hidden;
  text-decoration: none;
  border-left: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
  border-right: 1px solid var(--secondary-border-color);
}

/* анимация карточек */
.product-section__card-slide {
  position: relative;
  overflow: hidden;
}

.product-section__card-slide-text {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background-color: var(--card-bg-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-section__item:hover .product-section__card-slide-text,
.product-section__item:focus .product-section__card-slide-text {
  transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */