/* Стили для секции преимуществ компании */

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.advantages__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.advantage {
  background-size: contain;
}
.advantages {
  display: block;

  & .atention::before {
    background-image: url(../images/svg-images/antenna.svg);
  }
  & .punctuality::before {
    background-image: url(../images/svg-images/clock.svg);
  }
  & .planing::before {
    background-image: url(../images/svg-images/diagram.svg);
  }
  & .technologies::before {
    background-image: url(../images/svg-images/astronaut.svg);
  }
}
.advantage::before {
  height: 120px;
  background-color: var(--secondary-bg-color);
  content: "";
  display: block;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .advantage {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }

  .advantages__text {
    margin-bottom: 0;
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .advantages-section {
    padding: 94px 15px;
  }

  .advantages {
    display: flex;
    justify-content: space-between;
  }
  .advantages__text {
    width: 270px;
  }

  .advantage::before {
    background-size: 30%;
  }
}
