/* Шапка страницы */

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--main-white-color);
  border: 1px solid var(--border-color);
}
.logo__header-color {
  color: var(--main-black-color);
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

  &__icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
}
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vh;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

  &__icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
}
.mobile-menu__container {
  position: relative;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
